html,body{
    height: 100%;
    width: 100%;
}

#fondo{
    background-image: url('../images/fondoPerfil.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#titulo{
    font-size: 40px;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-stroke-width: 1px;
}

#usuario,#email{
    background-color: rgba(215, 215, 226, 0.8);
}

#cambios{
    background-color: rgba(217, 217, 217, 0.6);
    color: black;
    font-weight: bold;
}

#cambios:hover{
    background-color: rgba(41, 40, 65, 0.6);
    color: floralwhite;
}

#casita{
    justify-self: start;
}

#fotoCasita{
    height: 70%;

}

#form{
    justify-self: center;
}
