html,
body {
    height: 100%;
    background-image: url('../images/fondo_reset_password.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}


#todoElForm{
    background-color: rgba(83,97,212,60%);
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#contenedor{
    background-color: rgba(83,97,212,70%);
    border-radius: 6%;
    height: 65%;
}

#containerReset{
    background-color: rgba(83,97,212,70%);
}

#form{
    height: 70%;
}

h1{
    font-size: xx-large;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-stroke-width: 1px;
}

#boton{
    background-color: rgba(217, 217, 217, 0.6);
    border: none;
    color: black;
}

#boton:hover{
    background-color: rgba(65, 65, 65, 0.6);
    color: azure;
    transition: 0.75s ease-in-out;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: none;
    color: white;
}

input{
    background-color: darkgrey;
    filter: opacity(0.6);
}
